* {
    margin: 0;
    padding: 0;
}

header nav.navbar {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.left img {
    width: 5vw;
}

.right {
    width: 30%;
}

.right ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right ul li {
    font-family: var(--font-1);
    font-size: 1.3rem;
    font-weight: bold;
    transition: all .2s ease-in-out;
}

.right ul li:hover {
    transform: scale(1.06);
    background-color: rgb(83, 81, 81);
}

.right ul li a {
    text-decoration: none;
    color: #000;
    padding: 20px;
    font-family: var(--font-1);
}

.right ul li a:hover {
    color: #fff;
}

.banner {
    text-align: center;
    /* border: 1px solid black; */
}

.banner img {
    text-align: center;
    width: 100%;
}

.content {
    /* background-color: blue; */
    text-align: center;
}

.content h1 {
    font-size: 3.2rem;
}

.about-us {
    margin-top: 70px;
    padding: 30px;
    border-radius: 16px;
    box-shadow: var(--box-shadow-2);
}

.about-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-flex img {
    width: 20vw;
}

.about-flex p {
    font-size: 1.3rem;
    font-family: var(--font-2);
    padding: 0 30px;
}

.updates {
    margin-top: 70px;
    padding: 30px;
    border-radius: 16px;
    box-shadow: var(--box-shadow-2);
}

.updates-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.updates-flex img {
    width: 20vw;
    border-radius: 20px;
}

.updates-flex p {
    font-size: 1.3rem;
    font-family: var(--font-2);
    padding: 0 30px;
}

div.stay-connected {
    /* background-color: darkcyan; */
    margin-top: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    border-radius: 16px;
    box-shadow: var(--box-shadow);
    max-width: 50vw;
    margin: 40px auto 10px auto;
}

.stay-connected h1 {
    font-size: 2.6rem;
    font-family: var(--font-1);
    margin-right: 40px;
}

.stay-connected-flex {
    border-left: 2px solid rgb(92, 90, 90);
    padding-left: 40px;
}

#youtube {
    width: 4vw;
    transition: all 0.6s;
}

#youtube:hover {
    transform: scale(1.1);
}

#facebook {
    width: 4vw;
    transition: all 0.6s;
}

#facebook:hover {
    transform: scale(1.1);
}

#instagram {
    width: 4vw;
    transition: all 0.6s;
}

#instagram:hover {
    transform: scale(1.1);
}

footer {
    /* background-color: chocolate; */
    margin-top: 20px;
    padding: 30px 0;
    border-radius: 16px;
    /* border-top: 1px solid black; */
    box-shadow: var(--box-shadow);
}

footer div.contact-details {
    text-align: center;
}

footer div.contact-details h1 {
    font-size: 2.2rem;
    font-family: var(--font-3);
    margin-bottom: 15px;
}

footer div.contact-details p {
    font-size: 1rem;
    font-family: var(--font-2);
}

footer div.copyright {
    text-align: center;
    font-size: 1.1rem;
    margin-top: 5px;
}

footer div.social-logos {
    text-align: center;
    margin-top: 8px;
}

footer div.social-logos a img {
    width: 2vw;
}

.session-content {
    text-align: center;
    padding-top: 30px;
    /* border: 1px solid black; */
}

.session-content h1 {
    margin-bottom: 30px;
}

.session-content button {
    font-size: 1.5rem;
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(97, 86, 86);
    transition: all 0.6s;
}

.session-content button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.session-content button a {
    text-decoration: none;
    color: #fff;
    font-family: var(--font-2);
}

.session-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.music-singles {
    margin-top: 50px;
}

.music-singles h1 {
    font-family: var(--font-2);
    font-size: 2.5rem;
}

.intro-heading {
    background: url(../Images/Prayer\ Request\ Bg\ Img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vh;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: var(--box-shadow-2);
}

.intro-heading h1 {
    font-size: 4rem;
    text-align: center;
    font-weight: bolder;
    opacity: 0.8;
    font-family: var(--font-4);
}

.form {
    /* border: 2px solid black; */
    padding: 60px 0 20px 300px;
    /* box-shadow: var(--box-shadow); */
    border-radius: 10px;
}

.form-main {
    text-align: left;
    /* border: 2px solid black; */
}

.form-main form label {
    font-size: 1.3rem;
    font-family: var(--font-2);
}

.form-main form input {
    font-size: 1.2rem;
    font-family: var(--font-2);
    padding: 5px;
    /* border-radius: 10px; */
    width: 60%;
    margin-bottom: 20px;
}

.form-main button {
    font-size: 1.4rem;
    padding: 7px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 10px;
}

.form-main button a {
    text-decoration: none;
    color: #fff;
}

.form-main button:hover {
    background-color: rgb(70, 64, 64);
    cursor: pointer;
}